.footer
  .by_farbox
    span Theme by
    a(href="https://www.caicai.me")  CaiCai&#65281;
    span &
    a(href="https://github.com/Ben02/hexo-theme-Anatole")  Ben&#65281;
  .by_farbox
    span Published with
    a(href="https://hexo.io/zh-cn/", target="_blank")  Hexo&#65281;
  .by_farbox
    span Hosted by
    a(href="https://pages.coding.me" , target="_blank")  Coding Pages&#65281